li{
    list-style-type: none;
}

.upload-file{
    width: 300px;
    height: 50px;
    margin: auto;
    background-color: rgba(76, 161, 241, 0.8);
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color:rgba(0, 25, 49, 0.8);
}

/* Action Bar */

.upload-action-bar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 100%;
    align-items: center;
}

.upload-action-bar_left{
    margin-left: 30px;
    display: flex;
}

.upload-action-bar_button{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.upload-button{
    margin-left: auto;
    margin-right: 40px;
}

/* Upload Sidebar */
.upload-body{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
}

.upload-body-sidebar{
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 400px;
    /* margin-left: 30px; */
    padding: 30px;
    color: white;
}

.upload-body-sidebar_title{
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
}

.upload-body-sidebar ul{
    display: flex;
    flex-direction: column;
}

.upload-body-sidebar ul li{
    margin: 10px;
    border-bottom: 2px solid rgba(200, 200, 200, 1);
}

/* Upload body file list */

.upload-body-file-list{
    padding: 10px;
    background-color:sandybrown;
    height: auto;
    width: 100%;
    display: flex;
}

.upload-list_picture-container{
    margin: 10px;
    background-color:rgba(142, 255, 212, 0.6);
    width: 200px;
    height: 260px;
    border: 1px solid rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-list_picture-container.active{
    border: 4px solid rgb(182, 72, 255)
}

.upload-list_picture-container_image{
    height: 180px;
    width: 180px;
    margin: 5px;
    background-size: cover;
}

.addImagePrompt{
    margin: auto;
    height: 60px;
    width: 250px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-oontainer_field{
    width: 180px;
}

.picture-container_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
