
.create-album-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
}

.create-album-body-container{
    display: flex;
    flex-grow: 1;
    bottom: -180px;
}

/* Sidebar */
.create-album-sidebar{
    background-color: rgb(100,0,0,0.5);
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.create-album-sidebar_form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.create-album-sidebar_name{
    font-size: 20px;
}

.create-album-sidebar_description{
    margin-top: 20px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.create-album-sidebar_submit-btn{
    margin-bottom: 20px;

}

/* Album Body */

.create-album-body{
    background-color: rgba(0,100,0,0.5);
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

.drag-picture-here{
    margin: auto;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    /* color: rgb(150,150,150); */
    border: 4px dashed rgb(200,200,200);
    padding: 10px;
}

/* Footer section */
.create-album-footer{
    background-color: rgba(60, 60, 104, 1);
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 180px;
    border-top: 1px solid rgba(50,50,50,0.8);
    display: flex;
    flex-direction: column;
}

.create-album-footer_actions{
    background-color: rgba(214, 214, 214, 1);
    width: 100%;
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.create-album-footer_list{
    flex-grow : 1;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: scroll;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.create-album_picture-container{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    background-size: cover;
    border: 1px solid black;
    box-sizing: border-box;
}

.create-album_picture-container:hover{
    border-color: red;
    box-shadow: 0px 1px red;
}

.picture-container_name-tip{
    visibility: hidden;
    padding: 2px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-size: 14px;
    position: absolute;
    min-width: 98px;
}

.create-album_picture-container:hover .picture-container_name-tip{
    visibility: visible;
}
