.create-album-container{
    display: flex;
}

.create-album-sidebar{
    background-color: rgb(100,0,0,0.5);
}
.create-album-body{
    background-color: rgba(0,100,0,0.5);
}

.create-album-footer-list{
    background-color: rgba(0,0,100,0.5);
}
