.about-div{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.about-div h2{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(99, 177, 223);
}

.about-div h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(99, 177, 223);
    text-align: center;
}

.about-div h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(99, 177, 223);
    text-align: center;
}

.profile-pic{
    background-image: url('../../images/brian_xue.png');
    border: 3px solid rgb(99, 177, 223);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
}
