.profile-header{
    width: 100%;
    height: 250px;
    background-color: rgba(255, 187, 187, 0.8);
}

.profile-nav-bar{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-nav-bar_list{
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.profile-nav-bar_list li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-nav-bar_list li div{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.profile-nav-bar_list li div.active{
    border-bottom: 4px solid rgba(65, 61, 255, 0.8);
}


/* Pictures Component */
.profile_all-user-pictures{
    display: flex;
    direction: row;
}
.profile_picture-container{
    margin: 10px;
    height: 150px;
    width: 150px;
    background-size: cover;
}

/* Album Component */
.album-component-header{
    width: 100%;
    height: 40px;
    background-color: rgba(116, 125, 206, 0.308);
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.new-album-button{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: rgba(250, 250, 250, 1);
}

.album-component-body{
    display: flex;
}

.no-album-text{
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
