.img-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-container img {
    max-width:90%;
    max-height:100%;
}

.image-bottom-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Info left sidebar */
.image-info-left{
    padding: 30px;
}

.image-info-left_pic-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.image-owner{
    padding-left: 10px;
    font-size: 20px;
}

.image-owner a{
    font-size: 20px;
    text-decoration: none;
    color:rgb(76, 53, 177);
}

.image-name{
    margin-bottom: 10px;
    font-size: 20px;
}

.image-desc{
    max-width: 600px;
    overflow-wrap: break-word;
}
.image-desc span{
    font-weight: 600;
}
.pic-info-toggle{
    padding: 10px;
}

.pic-info-toggle:hover{
    background-color: rgba(0,0,0,0.3);
}

.edit-pic-form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.edit-pic-form *{
    margin-bottom:10px;
}

.edit-pic-form_name-input{
    width: 400px;
    font-size: 20px;
}

.edit-pic-form_desc-input{
    width: 600px;
    height: 160px;
}

.edit-pic-form_buttons{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 200px 200px 1fr;
}

/* Comment Section */
.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.add-comment-form textarea{
    width: 400px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 8px;
}

/* Single Comment Component */
.single-comment-div:hover{
    background-color: rgb(230,230,230);
}
.single-comment-div a{
    color: rgb(76, 53, 177);
    font-size: 18px;
    font-weight: 600;
}

/* Info right sidebar */

.image-info-right{
    display: flex;
    flex-direction: column;
    background-color: darkkhaki;
}
.black-line{
    height: 1px;
    background-color: black;
    width: 100%;
}
.image-info-right_misc-info{
    margin: 30px;
    height: 150px;
}

.image-info-right_tags{
    margin: 30px;
    flex-grow: 1;
}

.image-info-right_tags h3{
    font-weight: 600;
    font-size: 20px;
}

.image-info-tags{
    display: flex;
    flex-wrap: wrap;
}

.image-tag-container{
    border: 1px solid rgba(255, 249, 218, 0.8);
    background-color: cornflowerblue;
    height: 30px;
    padding: 5px;
    margin-top: 7px;
    margin-right: 5px;
}

.image-tag-container:hover{
    background-color: rgb(179, 198, 233);
}
