.img-container{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-container img {
    max-width:90%;
    max-height:100%;
}

.image-bottom-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Info left sidebar */
.image-info-left{
    padding: 30px;
}

.image-info-left_pic-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.pic-info-toggle{
    margin-top: 10px;
}

.edit-pic-form{
    display: flex;
    flex-direction: column;
}

.edit-pic-form *{
    margin-bottom:10px;
}

/* Info right sidebar */

.image-info-right{
    display: flex;
    flex-direction: column;
    background-color: darkkhaki;
}
.black-line{
    height: 1px;
    background-color: black;
    width: 100%;
}
.image-info-right_misc-info{
    margin: 30px;
    height: 150px;
}

.image-info-right_tags{
    margin: 30px;
    flex-grow: 1;
}
