.header-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(166, 193, 243);
}

.header-bar-left{
    list-style-type: none;
    margin-left: 40px;
}

.header-bar-right{
    list-style-type: none;
    justify-self: flex-end;
    display: flex;
    margin-right: 40px;
    align-items: center;
}

.header-bar-right li{
    padding-left: 30px;
}

.nav_profile-menu {
    position: absolute;
    height: 400px;
    width: 250px;
    background-color: white;
    top: 60px;
    right: -10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 40px;
}

.signup-button{
    height: 30px;
    padding: 5px 5px;
    border: 3px solid rgb(64, 141, 177);
    background-color: rgb(210, 241, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.signup-button:hover{
    border: 3px solid rgb(189, 91, 136);
}
