.header-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex: auto;
    background-color: white;
}

.header-bar-left{
    list-style-type: none;
    margin-left: 40px;
}

.header-bar-right{
    list-style-type: none;
    width: 25%;
    display: flex;
}

.header-bar-right li{
    padding-left: 30px;
}

.nav_profile-menu {
    border: 1px solid black;
    display: flex;
}
