.header-bar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    width: 100%;
    background-color: white;
}

.header-bar-left{
    justify-self: flex-start;
}

.header-bar-right{
    justify-self: flex-end;
}

.nav_profile-menu {
    border: 1px solid black;
    display: flex;
}
